java/*/*/gradle                                                                 
java/*/*/gradlew                                                                
java/*/*/gradlew.bat                                                            
java/*/*/setting.gradle                                                         
java/*/*/.idea                                                                  
java/*/*/.gradle
java/*/*/settings.gradle
java/*/*/build
